<html>

<head>

   <title>Search Result</title>

</head>

<body>

<br/></br/>

<div class="container">

   <div class="col-md-8 offset-md-2">

{% if query %}

           <h2>

           {% with results.count as total_results %}

           Found {{ total_results }} result{{ total_results|pluralize }}

           {% endwith %}

           </h2>

   {% for c in results %}

  <h3>{{c.b_name}}</h3>

  <h3>{{c.b_author}}</h3>


   {% empty %}

   <h3>No results found.</h3>

   {% endfor %}

  {% endif %}

        <form action="{% url 'buyer' %}" class="form-inline" method="get">

        <button type="submit" class="btn btn-primary btn-lg mb-2">Back</button>

        </form>

    </div>

</div>

</body>

<html>